*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../imagens/background-cadastro.jpg);
    background-size: 100%;
}

header{
    background-color: rgb(1, 1, 40);
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

input[placeholder]{
    text-align: center;
}

input[type="text"], input[type="password"]{
    width: 400px;
    border-radius: 4px;
    height: 25px;
}

h1{
    text-align: center;
    color: aliceblue;
    padding: 20px auto;
}

hr{
    opacity: 0.1;
}

label{
    color: aliceblue;
    display: block;
}

footer{
    padding: 20px 40px;
    height: 100%;
    text-align: center;
    color: aliceblue;
}

button[type="submit"]{
    background-image: url(../imagens/background-cadastro.jpg);
    background-size: 100%;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    margin: 20px;
    color: aliceblue;
    font-size: 18px;
}

/*================================================= CABEÇALHO ===========================================*/

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 20px;
}

/*================================================= MENU INICIAL ===========================================*/

.menu-inicial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.menu-inicial a {
    padding: 20px 20px;
    color: aliceblue;
}

.menu-inicial a:hover{
    background-color: aliceblue;
    color: rgb(1, 1, 40);
    transition: 0.3s;
    padding: 10px;
}
/* ================================= MAIN ============================================ */

.formulario-login{
    width: 620px;
    height: 350px;
    padding: 10px auto;
    margin: 10px auto;
    border: 2px solid gray;
    border-radius: 6px;
    text-align: center;
}

.area-login{
    color: aliceblue;
}

.area-login label{
    padding-right: 320px;

}

.redirecionado{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    padding: 0px;
}

.redirecionado button{
    width: 120px;
    height: 30px;
    text-align: center;
}

.redirecionado a{
    color: rgb(39, 39, 39);

}


/* ================================= WIDGETS ============================================ */


.flutuante{
    position: fixed;
    right: 0;
    bottom: 100px;
    margin: 0 15px;
}

.flutuante img{
    width: 71px;
 }
 