*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(43, 43, 43);
}

nav{
    border-radius: 6px 0;
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    margin: 20px 10px;
}

i{
    opacity: 0;
}

.navbar{
    padding: 0 10px 0 10px;
    border: 6px solid cyan;
}

.navbar:hover{
    border: 6px solid rgb(26, 122, 122);
    transition: 0.3s;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#logo{
    color: whitesmoke;
    font-size: 30px;
    padding-left: 20px;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.nav-link:hover{
    cursor:pointer;
    color: rgb(26, 122, 122);
    transition: 0.5s;
}


@media (max-width: 699.8px) {
    nav{
        display: block;
        justify-content: center;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        padding: 0 20px;
    }
    i{
        opacity: 1;
        text-align: center;
        padding-left: 10px;
    }
    .navbar-brand{
        padding: 10px 0;
    }
    #logo{
        font-size: 25px;
    }
    
}